{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules" : {
    "font-family-no-missing-generic-family-keyword": [
      true,
      { "ignoreFontFamilies": ["Hind", "Playfair"] },
    ],
  },
}